@use 'src/styles/vars';

.form {
  background: vars.$light-color;
  height: 5rem;
  display: flex;

  &__message {
    border: 0;
    background: none;
    width: calc(100% - 5rem);
    padding: 2rem;
    font-size: 1.5em;
    background: vars.$light-color;
    
    :focus {
      background-color: rgba(0,0,0,.1);
    }
  }

  &__submit {
    color: vars.$normal-blue;
    width: 5rem;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 1rem;

    :hover {
      color: vars.$dark-blue;
    }
  }
}
