@use 'reset';
@use 'vars';


@font-face {
  font-family: 'Roboto';
  src: 'src/assets/fonts/Roboto-Regular.ttf';
}

body {
  background-color: vars.$dark-blue;
  font-family: 'Roboto', sans-serif;
}

// ici on définit les images clés 
// de l'animation grow
// on fixe des propriétés à certain niveau d'avancement
// de l'animation.
// le navigateur s'occupera d'extrapoler les images intemédiaires
@keyframes grow {
  0% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1);
  }
}
